@import "../../packages/bootstrap-4.5.3/scss/bootstrap";
@import "variablesColors";
@import "_variables";

@font-face {
  font-family: "MontserratLight";
  src: url("../../packages/fonts/Montserrat/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../packages/fonts/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../../packages/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../../packages/fonts/Raleway/static/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("../../packages/fonts/Raleway/static/Raleway-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../../packages/fonts/Raleway/static/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.container {

}

// модификатор паддинг
.site_padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.slider {
  position: relative;
}

header {
  width: 100%;
  position: absolute;
  z-index: 10;
  padding-top: 20px;
}

.header-background {
  background: url("../../images/header-background.jpg") no-repeat center center;
  background-size: cover;
  height: 50vw;

  @include media-breakpoint-down(sm) {
    height: 400px;
  }
}

.b-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    justify-content: space-evenly;
  }
}

.b-logo {
  display: flex;

  @include media-breakpoint-down(sm) {
    align-self: baseline;
  }

  .b-logo__img {
  }

  .b-logo__head {
    font-family: $varFontFamilyRalewayRegular;
    font-size: 34px;
    margin: 0;
    align-self: center;
    color: $varColorWhite;

    @include media-breakpoint-down(md) {
      font-size: 26px;
    }
  }
}

.b-menu {
  align-self: flex-end;

  .b-menu__ul {
    list-style-type: none;
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .b-menu__list {
      margin-right: 30px;

      @include media-breakpoint-down(lg) {
        margin-right: 15px;
      }

      .b-menu__link {
        display: inline-block;
        color: $varColorWhite;
        font-family: $varFontFamilyMontserratLight;
        font-size: 14px;
        text-decoration: none;
        transition: 0.6s;

        &:hover {
          transform: scale(1.1);
          color: $varColorHover;
        }

        @include media-breakpoint-down(md) {
          font-size: 11px;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.carousel-caption {
  top: 30%;

  h5 {
    color: $varColorWhite;
    font-family: $varFontFamilyRalewayMedium;
    font-size: 36px;

    @include media-breakpoint-down(md) {
      font-size: 28px;
    }
  }

  p {
    font-family: $varFontFamilyMontserratLight;
    font-size: 16px;
    line-height: 24px;

    @include media-breakpoint-down(md) {
      font-size: 11px;
    }
  }
}

.carousel-control-prev-icon {
  background: url("../../images/left.svg");
  width: 40px;
  height: 73px;
}

.carousel-control-next-icon {
  background: url("../../images/right.svg");
  width: 40px;
  height: 73px;
}

main {
  flex-grow: 1;
}

.b-servicesBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
  align-items: end;

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
}

.b-designArticle {

  &:hover div, &:hover h4 {
    opacity: 1;
    color: $varColorHover;
  }

  img {
    margin-bottom: 20px;
  }

  h4 {
  }

  p {
    margin-bottom: 20px;
  }

  div {
    width: 70px;
    height: 3px;
    background-color: $varColorHover;
    display: inline-block;
    opacity: 0;
  }
}

.b-developArticle {
  @extend .b-designArticle;

  img {
    @extend .b-designArticle;
  }

  h4 {
  }

  p {
  }

  div {
    @extend .b-designArticle;
  }
}

.b-customArticle {
  @extend .b-designArticle;

  img {
    @extend .b-designArticle;
  }

  h4 {
  }

  p {
  }

  div {
    @extend .b-designArticle;
  }
}

.b-marketArticle {
  @extend .b-designArticle;

  img {
    @extend .b-designArticle;
  }

  h4 {
  }

  p {
  }

  div {
    @extend .b-designArticle;
  }
}

footer {
  flex-shrink: 0;
  background-color: #191919;
}

.b-footerContentWrapper {
  @extend .b-servicesBlock;
  align-items: flex-start;

  //@include media-breakpoint-down(md) {
  //  @extend .b-servicesBlock;
  //}
  //
  //@include media-breakpoint-down(sm) {
  //  @extend .b-servicesBlock;
  //}
}

.b-aboutWaxomArticle {
  text-align: left;

  .b-aboutWaxomArticle__text {
    color: $varColorFooterText;
    font-family: $varFontFamilyMontserratLight;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 14px;
  }

  .b-aboutWaxomArticle__link {
    color: #d1d1d1;
    font-family: $varFontFamilyMontserratRegular;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }

}

.b-recentPosts {
  text-align: left;

  .b-recentPosts__head {
    color: $varColorWhite;
    font-family: $varFontFamilyRalewayBold;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.b-post {
  margin-bottom: 30px;

  .b-post__data {
    color: #363636;
    font-family: $varFontFamilyMontserratLight;
    font-size: 12px;
    line-height: 20px;
  }

  .b-post__text {
    color: $varColorFooterText;
    font-family: $varFontFamilyMontserratLight;
    font-size: 14px;
  }
}

.b-post_active {
  .b-post__data {
    color: $varColorWhite;
    font-family: $varFontFamilyMontserratLight;
    font-size: 12px;
    line-height: 20px;
  }

  .b-post__text {
    color: $varColorHover;
    font-family: $varFontFamilyMontserratLight;
    font-size: 14px;
  }
}

.b-liveTwitter {
  @extend .b-recentPosts;

  .b-liveTwitter__head {

    @extend .b-recentPosts__head;
  }
}

.b-twitterPost {
  @extend .b-post;

  .b-twitterPost__text {
    @extend .b-post__text;
    margin-bottom: 0;

    a {
      color: #959595;
    }

    span {
      color: #00bff3;
    }
  }

  .b-twitterPost__data {

    @extend .b-post__data;
    color: #363636;
  }
}

.b-dribbleWidget {
  @extend .b-recentPosts;

  .b-dribbleWidget__head {
    @extend .b-recentPosts__head;

  }

  .b-dribbleWidget__wrapperForImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .b-dribbleWidget__img {
    }
  }


}